<h3 #v>Folder-List --------------------------------</h3>
<div *ng-for="#folder of folderList" >
    <fieldset style="width: 33%">
        <p><b>{{folder._id}}</b></p>
        <button (click)="clickOpen(folder._id)">Open</button>
        <button (click)="clickRemove(folder._id)">Remove</button>
        <button (click)="clickRename(folder._id)">Rename</button>
        <input id="RENAME-{{folder._id}}" type="text" [value]="folder._id">
        <p>DEBUG MESSAGE HIDDEN = {{messagesHidden[folder._id]}}</p>
        <div id="MESSAGES-{{folder._id}}" [hidden]="messagesHidden[folder._id]">
            Hallo. Hier stehen demnaechste viele Messages...
            <messages fid="_sent" test="MYASS"></messages>
        </div>
        <br>
    </fieldset>
</div>