button(ng-click='newMessage()') New Message

//script(type="text/ng-template", id="myModalContent.html")
//    div(class="modal-header")
//        h3(class="modal-title") New Message
//    div(class="modal-body")
//        label(for='folder') Folder:
//        input(type="text" class="form-control" ng-model='form.chose', name='folder')
//        br
//        label(for='msgInput') Message:
//        textarea(class="form-control" ng-model='form.newText', cols='50', rows='15',name='msgInput' )
//        //p
//        //    button(class="btn btn-success" ng-click='submitPost()') Submit Post
//    div(class="modal-footer")
//        button(class="btn btn-primary" ng-click="ok()") OK
//        button(class="btn btn-warning" ng-click="cancel()") Cancel
div
    md-content(class="md-padding")
        md-tabs(md-dynamic-height md-border-bottom)
            md-tab(ng-repeat = "folder in folderList" label='{{folder._id}}')
                div(class="container")
                    h2(class="md-display-2")
                        |{{folder._id}}
                    //a(href="#/folder/{{folder._id}}") {{folder._id}}
                    div(class="row-fluid")
                        button(class="btn btn-danger", ng-click="deleteFolder(folder._id)" value="{{folder._id}}" id="{{folder._id}}").
                            Delete Folder
                        button(class="btn btn-primary", ng-click="renameFolder(folder._id, folder.newName)" value="{{folder._id}}" style="margin-left:15px").
                            Rename Folder
                        input(type="text" ng-init="folder.newName = folder._id" ng-model="folder.newName" popover="Insert a new name for {{folder._id}}"  popover-placement="bottom" popover-trigger="focus" class="form-control" style="width:90%; margin-top: 10px")



                        //MESSAGELIST
                        div(class="container" ng-controller='myAppMessageController' ng-model='folderName' ng-init='folderName = folder._id')
                            div(class="row-fluid")
                                br
                                |Show Messages
                                input(type="checkbox", ng-model="isCollapsed" ng-init="isCollapsed = false")
                                div(ng-show="isCollapsed")
                                    div(ng-repeat = "msg in messageList" style="width:95%")
                                        fieldset(style='border-style: solid; border-width: 2px;')
                                            b SUBJ:
                                            |{{msg._subject}}
                                            br
                                            //ONEMESSAGE
                                            div(ng-controller='myAppOneMessageController' ng-model='parentFolder' ng-init='parentFolder = folderName')
                                                div(ng-model='mId' ng-init='mId = msg._id')
                                                |More
                                                input(type="checkbox", ng-model="isCollapsed" ng-init="isCollapsed = false")
                                                div(class="container" ng-show="isCollapsed" style="width:95%")
                                                    div(class="row-fluid")
                                                        table
                                                            tr
                                                                td
                                                                    b Sender:
                                                                td
                                                                    span(class="label label-default").
                                                                        {{msg.sender}}
                                                            tr
                                                                td
                                                                    b Message-ID:
                                                                td
                                                                    span(class="label label-default").
                                                                        {{msg._id}}
                                                            tr
                                                                td
                                                                    b Date:
                                                                td
                                                                    span(class="label label-default").
                                                                        {{msg.date}}
                                                            tr
                                                                td
                                                                    b Recipients:
                                                        textarea(class="form-control" readonly).
                                                            {{msg.recipients}}
                                                        br
                                                        //button(class="btn btn-danger", ng-click="deleteMessage()").
                                                        //    Delete
                                                        //br
                                            br
                                            b Text:
                                            br
                                            textarea(class="form-control" readonly).
                                                {{msg._text[0]}}
                                            br
                                            button(class="btn btn-danger", ng-click="deleteMessage(msg._id)" value="{{msg._id}}" id="{{msg._id}}").
                                                Delete

                                            button(class="btn btn-danger", ng-click="moveMessage(msg._id, chose._id)" style="margin-left:10px").
                                                Move
                                            select(ng-model="chose" ng-options="folder._id for folder in folderList" id="chose" style="margin-left:10px")
                                            br