md-button(ng-click='toggleRight()' class="md-raised md-primary") New Message

md-sidenav(class="md-sidenav-right md-whiteframe-z2" md-component-id="right")
    md-toolbar(class="md-theme-light")
        h1(class="md-toolbar-tools") Create a new Message!
    md-content(ng-controller="NewMessageCtrl" layout-padding="")
        label(for='folder') Folder:
        input(type="text" class="form-control" ng-model='form.chose', name='folder')
        br
        label(for='msgInput') Message:
        textarea(class="form-control" ng-model='form.newText' rows="15" name='msgInput' style="width: 100%")
        br
        md-button(ng-click="close()" class="md-primary")
            |Create Message
        br
        b {{errorMessage}}

div()
    md-content(class="md-padding")
        md-tabs(md-dynamic-height md-border-bottom)
            md-tab(ng-repeat = "folder in folderList" label='{{folder._id}}')
                div(layout="row")
                    h2(class="md-display-2")
                        |{{folder._id}}
                    div(flex)
                        md-button(class="md-raised md-warn", ng-click="deleteFolder(folder._id)" value="{{folder._id}}" id="{{folder._id}}").
                            Delete Folder
                        md-button(class="md-raised md-primary", ng-click="renameFolder(folder._id, folder.newName)" value="{{folder._id}}" style="margin-left:15px").
                            Rename Folder
                        md-input-container
                            label Insert a new name for {{folder._id}}
                            input(type="text" ng-model="folder.newName" style="width:90%; margin-top: 10px")

                        //MESSAGELIST
                        div(flex ng-controller='myAppMessageController' ng-model='folderName' ng-init='folderName = folder._id')
                            div(flex)
                                br
                                md-button(class="md-raised md-primary" ng-model="isCollapsed" ng-init="isCollapsed = false" ng-click="isCollapsed = !isCollapsed")
                                    |Show Messages

                                div(flex ng-show="isCollapsed")
                                    div(flex ng-repeat = "msg in messageList" style="width:95%")
                                        fieldset(style='border-style: solid; border-width: 2px;')
                                            b SUBJ:
                                            |{{msg._subject}}
                                            br
                                            //ONEMESSAGE
                                            div(flex ng-controller='myAppOneMessageController' ng-model='parentFolder' ng-init='parentFolder = folderName')
                                                div(ng-model='mId' ng-init='mId = msg._id')
                                                md-button(class="md-raised md-primary" ng-model="isCollapsed" ng-init="isCollapsed = false" ng-click="isCollapsed = !isCollapsed")
                                                    |Details
                                                div(flex ng-show="isCollapsed" style="width:95%")
                                                    div(flex)
                                                        table
                                                            tr
                                                                td
                                                                    b Sender:
                                                                td
                                                                    label {{msg.sender}}
                                                            tr
                                                                td
                                                                    b Message-ID:
                                                                td
                                                                    label {{msg._id}}
                                                            tr
                                                                td
                                                                    b Date:
                                                                td
                                                                    label {{msg.date}}
                                                            tr
                                                                td
                                                                    b Recipients:
                                                        textarea(readonly rows="5" style="background-color: lightgray;width:95%;").
                                                            {{msg.recipients}}
                                                        br
                                                        //button(class="btn btn-danger", ng-click="deleteMessage()").
                                                        //    Delete
                                                        //br
                                            br
                                            b Text:
                                            br
                                            textarea(readonly rows="20" style="background-color: lightgray; width:95%;").
                                                {{msg._text[0]}}
                                            br
                                            md-button(class="md-raised md-warn", ng-click="deleteMessage(msg._id)" value="{{msg._id}}" id="{{msg._id}}").
                                                Delete Message
                                            md-button(class="md-raised md-warn", ng-click="moveMessage(msg._id, chose._id)" style="margin-left:10px").
                                                Move Message
                                            select(ng-model="chose" ng-options="folder._id for folder in folderList" id="chose" style="margin-left:10px")
                                            br
