extends layout
block body
    div(class="container")
        h2 My Email Thingy - Angular + AngularMaterial
        //a(ng-href='#/folder') Folder
        //br
        //a(ng-href='#/newMessage') new Message
        div(class="row-fluid" ng-view)
