<h3>Message-List --------------------------------</h3>
DEBUG FOLDER_ID: {{fid}}
<button (click)="clickLoad()">Load</button>

  <div *ng-for="#msg of messageList">
    <table>
      <tr><td style="background-color: #cacaca"><strong>Message-ID:</strong></td><td style="background-color: #ffffcc">{{msg._id}}</td></tr>
      <tr><td style="background-color: #cacaca"><strong>Subject:</strong></td><td style="background-color: #ffffcc">{{msg._subject}}</td></tr>
    </table>

    <!-- subject, textarea mit content-->
    <button (click)="clickDetail()">Detail</button>
    <hr />
    <br>
  </div>

