#message-inform {
    background-color: white;
}

#message-inform input {
    background-color: dimgray;

    width: 90%;
    height: 10%;
    margin: auto;

    border: solid 1px #FFF;

    color: #FFF;
}

#message-inform textarea {
    background-color: dimgray;

    width: 90%;
    height: 20%;
    margin: auto;

    border: solid 1px #FFF;

    color: #FFF;
}

