h2 Folder-List
style
    button {margin-top: 15px; margin-right: 20px; margin-bottom: 15px; margin-left: 20px;}

|Open Only One Folder?
input(type='checkbox', ng-model='oneFolder')

accordion(close-others='oneFolder')
    accordion-group(ng-repeat = "folder in folderList" heading='{{folder._id}}')
        p
            //a(href="#/folder/{{folder._id}}") {{folder._id}}
            br
            button(class="btn btn-danger", ng-click="deleteFolder(folder._id)" value="{{folder._id}}" id="{{folder._id}}" style="margin-left:15px").
                Delete
            button(class="btn btn-primary", ng-click="renameFolder(folder._id, folder.newName)" value="{{folder._id}}" style="margin-left:15px").
                Rename
            div(style='width: '+(100/4)+'%')
                input(type="text" ng-init="folder.newName = folder._id" ng-model="folder.newName" popover="Insert a new name for {{folder._id}}"  popover-placement="bottom" popover-trigger="focus" class="form-control")

        //MESSAGELIST
        div(ng-controller='myAppMessageController' ng-model='folderName' ng-init='folderName = folder._id')
            h3 Message List
            button(class="btn btn-primary" ng-click="isCollapsed = !isCollapsed" ng-init="isCollapsed = true") Show Messages
            br
            div(collapse="isCollapsed")
                //|Hallo
                div(ng-repeat = "msg in messageList")
                    fieldset(style='border-style: solid; border-width: 3px;')
                        a(href="#/folder/{{folderName}}/{{msg._id}}") SUBJ: {{msg._subject}}
                        br
                        b Text:
                        br
                        textarea(class="form-control" rows="10" cols="60" readonly).
                            {{msg._text[0]}}
                        br
                        button(class="btn btn-danger", ng-click="deleteMessage(msg._id)" value="{{msg._id}}" id="{{msg._id}}").
                            Delete
                    br
                    //ONEMESSAGE