button(ng-click='newMessage()') New Message

script(type="text/ng-template", id="myModalContent.html")
    div(class="modal-header")
        h3(class="modal-title") New Message
    div(class="modal-body")
        label(for='folder') Folder:
        input(type="text" class="form-control" ng-model='form.chose', name='folder')
        br
        label(for='msgInput') Message:
        textarea(class="form-control" ng-model='form.newText', cols='50', rows='15',name='msgInput' )
        //p
        //    button(class="btn btn-success" ng-click='submitPost()') Submit Post
    div(class="modal-footer")
        button(class="btn btn-primary" ng-click="ok()") OK
        button(class="btn btn-warning" ng-click="cancel()") Cancel

h2 Folder-List

|Open Only One Folder?
input(type='checkbox', ng-model='oneFolder')

accordion(close-others='oneFolder')
    accordion-group(ng-repeat = "folder in folderList" heading='{{folder._id}}')
        div(class="container")
            //a(href="#/folder/{{folder._id}}") {{folder._id}}
            div(class="row-fluid")
                button(class="btn btn-danger", ng-click="deleteFolder(folder._id)" value="{{folder._id}}" id="{{folder._id}}").
                    Delete
                button(class="btn btn-primary", ng-click="renameFolder(folder._id, folder.newName)" value="{{folder._id}}" style="margin-left:15px").
                    Rename
                input(type="text" ng-init="folder.newName = folder._id" ng-model="folder.newName" popover="Insert a new name for {{folder._id}}"  popover-placement="bottom" popover-trigger="focus" class="form-control" style="width:90%; margin-top: 10px")

        //MESSAGELIST
        div(class="container" ng-controller='myAppMessageController' ng-model='folderName' ng-init='folderName = folder._id')
            div(class="row-fluid")
                h3 Message List
                button(class="btn btn-primary" ng-click="isCollapsed = !isCollapsed" ng-init="isCollapsed = true") Show Messages
                br
                div(collapse="isCollapsed")
                    div(ng-repeat = "msg in messageList | limitTo:limitMessages" style="width:95%")
                        fieldset(style='border-style: solid; border-width: 2px;')
                            a(href="#/folder/{{folderName}}/{{msg._id}}") SUBJ: {{msg._subject}}
                            br
                            b Text:
                            br
                            textarea(class="form-control" readonly rows="10").
                                {{msg._text[0]}}
                            br
                            button(class="btn btn-danger", ng-click="deleteMessage(msg._id)" value="{{msg._id}}" id="{{msg._id}}").
                                Delete

                            button(class="btn btn-danger", ng-click="moveMessage(msg._id, chose._id)" style="margin-left:10px").
                                Move
                            select(ng-model="chose" ng-options="folder._id for folder in folderList" id="chose" style="margin-left:10px")
                            br
                            //ONEMESSAGE
                            div(ng-controller='myAppOneMessageController' ng-model='parentFolder' ng-init='parentFolder = folderName')
                                div(ng-model='mId' ng-init='mId = msg._id')
                                button(class="btn btn-default" ng-click="isCollapsed = !isCollapsed" ng-init="isCollapsed = true" style="margin-top:10px;") Detail
                                br
                                div(class="container" collapse="isCollapsed" style="width:95%")
                                    div(class="row-fluid")
                                        table
                                            tr
                                                td Message-ID:
                                                td
                                                    span(class="label label-default").
                                                        {{msg._id}}
                                            tr
                                                td Date:
                                                td
                                                    span(class="label label-default").
                                                        {{msg.date}}
                                            tr
                                                td Sender:
                                                td
                                                    span(class="label label-default").
                                                        {{msg.sender}}
                                        label Recipients:
                                        textarea(class="form-control" readonly).
                                            {{msg.recipients}}
                                        h5 Text:
                                            textarea(class="form-control" rows="20" name="messageOutput" readonly).
                                                {{msg.text}}
                                        br
                                        //button(class="btn btn-danger", ng-click="deleteMessage()").
                                        //    Delete
                                        //br

                    button(class="btn btn-default" ng-click="limitMessagesMore()")
                        |More
                    button(class="btn btn-default" ng-click="limitMessagesLess()")
                        |Less