h3 Folder-List --------------------------------
style
    button {margin-top: 15px; margin-right: 20px; margin-bottom: 15px; margin-left: 20px;}

div(ng-repeat = "folder in folderList")
    fieldset
        p
            a(href="#/folder/{{folder._id}}") {{folder._id}}
            br
            button(class="btn btn-primary", ng-click="deleteFolder(folder._id)" value="{{folder._id}}" id="{{folder._id}}").
                Delete
            button(class="btn btn-primary", ng-click="renameFolder(folder._id, folder.newName)" value="{{folder._id}}").
                Rename
            div(style='width: '+(100/4)+'%')
                input(type="text" ng-init="folder.newName = folder._id" ng-model="folder.newName" popover="Insert a new name for {{folder._id}}"  popover-trigger="focus" class="form-control")

        br