extends layout
block body
    div
        h2 My Email Thingy - Angular + Bootstrap

        //a(ng-href='#/folder') Folder
        //br
        //a(ng-href='#/newMessage') new Message
        div(ng-view)
