html(ng-app='myApp')
    body
        block body

    script(src='../public/angular/angular.js')
    script(src='../public/app.js')
    script(src='../public/controllers.js')
    script(src='../public/angular-route.js')
    script(src='../public/angular-bootstrap.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')