h3 Message-List({{folderName}}) --------------------------------

div(ng-repeat = "msg in messageList" style='width: '+(100/2)+'%')
    p
        a(href="#/folder/{{folderName}}/{{msg._id}}") SUBJ: {{msg._subject}}
        br
        b Text:
        br
        textarea(class="form-control" rows="10" cols="60" readonly).
            {{msg._text[0]}}
        br
        button(class="btn btn-danger", ng-click="deleteMessage(msg._id)" value="{{msg._id}}" id="{{msg._id}}").
            Delete

    br