h3 Message --------------------------------
fieldset
    select(ng-model="chose" ng-options="folder._id for folder in folderList" id="chose")
    button(class="btn btn-danger", ng-click="moveMessage()" style="margin-left:20px;margin-bottom:10px;").
        Move


style
    textarea {width: 50%; height: auto;}
div(style='width: '+(100/2)+'%')
    table
        tr
            td Message-ID:
            td
                span(class="label label-default").
                    {{msg._id}}
        tr
            td Date:
            td
                span(class="label label-default").
                    {{msg.date}}
        tr
            td Sender:
            td
                span(class="label label-default").
                    {{msg.sender}}

    label Recipients:
    textarea(class="form-control",rows="50" cols="100" readonly).
                {{msg.recipients}}
    h5 Text:
        textarea(class="form-control",rows="50" cols="100" name="messageOutput" readonly).
                {{msg.text}}
    br
    button(class="btn btn-danger", ng-click="deleteMessage()").
            Delete
    br