<button (click)="clickDetail()">Detail</button>
<!--MESSAGE: {{message}}-->
<div *ng-for="#ms of m" [hidden]="hidden">
    <b>Date: {{ms.date}}</b>
    <br><b>Sender:
        {{ms.sender}}</b><br/><b>Recipients: {{ms.recipients[0]}}</b>
    <br><b>Text:</b><br/><textarea rows="50" cols="100" readonly="readonly">{{ms.text}}</textarea><br/>
    </p>



    <button (click)="moveMessage()">Move Message</button>
    <label >Folder:</label>
    <input type="text"  id="FOLDER-{{mid}}" placeholder="{{fid}}" style="width: 80%">

</div>
