Detail
<button (click)="clickLoad()">Load</button>
MESSAGE: {{message}}
<div *ng-for="#ms of m">
    <b>Date: {{ms.date}}</b>
    <br><b>Sender:
        {{ms.sender}}</b><br/><b>Recipients: {{ms.recipients[0]}}</b>
    <br><b>Text:</b><br/><textarea rows="50" cols="100" readonly="readonly">{{ms.text}}</textarea><br/>
    </p>

  <form (submit)="login($event, folder.value, msg.value)">
    <fieldset>
      <label for="folder" >Folder:</label>
      <input type="text" #folder class="form-control" id="folder" placeholder="Folder"
             style="width: 80%">
      <br>
      <input type="text" #msg class="form-control" id="msg" placeholder="Message" hidden disabled>
    </fieldset>
    <button type="submit">Submit</button>
  </form>

</div>
