extends ./templates/layout
block body
    div(class="container")
        ion-tabs(class="tabs-positive")
            ion-tab(icon="ion-home" ui-sref="main")
                ion-nav-view(name="main")

            ion-tab(icon="ion-email-unread" ui-sref="message")
                ion-nav-view(name="message")

