<fieldset style="width: 50%">
  <h2 #v>Write a new Message</h2>

  <form (submit)="login($event, folder.value, msg.value)">
    <fieldset>
      <label for="folder" >Folder:</label>
      <input type="text" #folder class="form-control" id="folder" placeholder="Folder"
             style="width: 80%">
      <br>
      <label for="msg">Message:</label>
      <input type="text" #msg class="form-control" id="msg" placeholder="Message"
             style="width: 80%">
    </fieldset>
    <button type="submit">Submit</button>
  </form>

  <br>
  <b>Status:
    <output id="status">Edit Mode</output>
  </b>
</fieldset>
