ion-view(view-title="Main")
    ion-content(class="padding" overflow-scroll="true")
        div(ng-repeat = "folder in folderList")
            fieldset
                h2 {{folder._id}}
                    a(class="button button-icon icon ion-chevron-right ion-settings" ng-click="show(folder._id)").
                div(class="action-sheet-group action-sheet-cancel" ng-if="cancelText")
                div
                    label(class="item item-input")
                        i(class="icon ion-edit placeholder-icon")
                        input(type="text" placeholder="Insert a new name for {{folder._id}}" ng-model="folder.newName")
                    button(class="button icon-left ion-wrench button-dark" ng-click="renameFolder(folder._id, folder.newName)" value="{{folder._id}}")
                        | Rename Folder
                    br
                    br
                    //    //MESSAGELIST
                    ion-list(class="item-thumbnail-center" ng-controller='myAppMessageController' ng-model='folderName' ng-init='folderName = folder._id')
                        ion-toggle(ng-model="isCollapsed" ng-init="isCollapsed" toggle-class="toggle-calm")
                            |Show Messages
                        //md-button(class="md-raised md-primary" ng-model="isCollapsed" ng-init="isCollapsed = false" ng-click="isCollapsed = !isCollapsed")
                        //    |Show Messages
                        div(ng-show="isCollapsed")
                            ion-item(ng-repeat = "msg in messageList | limitTo:limitMessages")
                                fieldset(style='border-style: solid; border-width: 2px;')
                                    b SUBJ:
                                    |{{msg._subject}}
                                    //ONEMESSAGE GOES HERE LATER
                                    div(flex ng-controller='myAppOneMessageController' ng-model='parentFolder' ng-init='parentFolder = folderName')
                                        div(ng-model='mId' ng-init='mId = msg._id')
                                        a(class="button button-outline icon-right ion-eye button-dark" ng-model="isCollapsed" ng-init="isCollapsed = false" ng-click="isCollapsed = !isCollapsed")
                                            |Detail
                                        div(flex ng-show="isCollapsed" style="width:95%")
                                            div(flex)
                                                table
                                                    tr
                                                        td
                                                            b Sender:
                                                        td
                                                            label {{msg.sender}}
                                                    tr
                                                        td
                                                            b Message-ID:
                                                        td
                                                            label {{msg._id}}
                                                    tr
                                                        td
                                                            b Date:
                                                        td
                                                            label {{msg.date}}
                                                    tr
                                                        td
                                                            b Recipients:
                                    br
                                    b Text:
                                    br
                                    textarea(readonly rows="20" style="background-color: lightgray; width:95%;").
                                        {{msg._text[0]}}
                                    br
                                    button(class="button icon-left ion-trash-a button-assertive" ng-click="deleteMessage(msg._id)" value="{{msg._id}}" id="{{msg._id}}" style="margin-right:15px")
                                        |Delete Message
                                    button(class="button icon-left ion-share button-dark" ng-click="moveMessage(msg._id, chose._id)")
                                        |Move Message
                                    select(ng-model="chose" ng-options="folder._id for folder in folderList" id="chose" style="margin-left:10px")
                                    br
